name: selftest
on: # on any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:

  no-args:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Test without any input arguments
          uses: ./

  show-help:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Show help
          uses: ./
          with:
            args: --help

  show-version:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Show version
          uses: ./
          with:
            args: --version

  validate:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Validate a CITATION.cff file from the current directory
          uses: ./
          with:
            args: --validate
  
  subdirectory:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Validate a CITATION.cff from a subdirectory
          uses: ./
          with:
            args: "--infile ./tests/subdirectory/CITATION.cff --validate"

  convert-to-cff-on-stdout:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Show CITATION.cff from a subdirectory on stdout
          uses: ./
          with:
            args: "--infile ./tests/subdirectory/CITATION.cff --format cff"

  convert-to-zenodo-on-stdout:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Convert CITATION.cff from a subdirectory to Zenodo metadata format, show result on stdout
          uses: ./
          with:
            args: "--infile ./tests/subdirectory/CITATION.cff --format zenodo"

  convert-to-zenodo-and-compare:
      runs-on: ubuntu-latest
      steps:
        - name: Clone this repository
          uses: actions/checkout@v2
        - name: Convert CITATION.cff from a subdirectory to Zenodo metadata format, show result on stdout
          uses: ./
          with:
            args: "--infile ./tests/zenodo-equivalent/CITATION.cff --format zenodo --outfile ./tests/zenodo-equivalent/.zenodo.test.json"
        - name: Compare the generated .zenodo.json with the expected
          run: |
            diff <(jq -S . ./tests/zenodo-equivalent/.zenodo.test.json) <(jq -S . ./tests/zenodo-equivalent/.zenodo.json)
